@import "./Variables.scss";

.container {
  background: $white;
  border: 5px solid $black;
  width: 600px;
  margin: auto;
  // padding: 5px 40px 20px 40px;
  box-sizing: border-box;
  margin-top: 20px;
}

// 標題
.title-box {
  background: $red;
  padding: 20px 40px;
  border-bottom: 2.5px solid $black;
}
.title {
  text-align: center;
  margin: 0;
}

// 新增
.add-new-box {
  background: $white;
  padding: 20px 40px;
  border-top: 2.5px solid $black;
  border-bottom: 2.5px solid $black;
}
.add-new {
  width: fit-content;
  margin: auto;
}
.add-new-form {
  display: flex;
  align-items: center;
}
.new-input {
  height: 22px;
  border: 3px solid $black;
}
.add-new-btn {
  height: 30px;
  width: 80px;
  background: $white;
  border: 3px solid $black;
  margin-left: 10px;
}
.error-message {
  color: $red;
}

// Tabs
.finished-or-not {
  display: flex;
}
.unfinished-btn {
  width: 50%;
  background: $yellow;
  border-top: 2.5px solid $black;
  border-bottom: 2.5px solid $black;
  border-right: 2.5px solid $black;
  padding: 15px 20px;
}
.finished-btn {
  width: 50%;
  background: $blue;
  border-top: 2.5px solid $black;
  border-bottom: 2.5px solid $black;
  border-left: 2.5px solid $black;
  padding: 15px 20px;
}
.unfinished-btn h2,
.finished-btn h2 {
  margin: 0;
}

// 待完成
.unfinished-list-box {
  background: $yellow;
  border-top: 2.5px solid $black;
  padding: 10px 20px;
}
.unfinished-list-content {
  padding: 15px;
  box-sizing: border-box;
  background: $white;
  border: 3px solid $black;
  margin: 20px 0;
  height: 66px;
  animation-name: show-bar;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}
@keyframes show-bar {
  0% {
    width: 0%;
  }
  95% {
    width: 103%;
  }
  100% {
    width: 100%;
  }
}
.unfinished-list-content-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unfinished-main-content {
  animation-name: pop-out;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes pop-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.remove-finish-btn button {
  height: 30px;
  width: 60px;
  background: $white;
  border: 3px solid $black;
  margin-left: 10px;
  animation-name: pop-out;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
.remove-btn {
  animation-delay: 0.6s;
}
.finish-btn {
  animation-delay: 0.7s;
}

// 已完成
.finished-list-box {
  background: $blue;
  border-top: 2.5px solid $black;
  padding: 10px 20px;
}
.finished-list-content {
  padding: 15px;
  box-sizing: border-box;
  background: $white;
  border: 3px solid $black;
  margin: 20px 0;
  height: 57px;
  animation-name: show-bar;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}
.finished-list-content-single {
  display: flex;
  justify-content: space-between;
}
.finished-main-content {
  animation-name: pop-out;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.finished-time {
  animation-name: pop-out;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}
